WGAME_DB_HOST=localhost
WGAME_DB_PORT=3306
WGAME_DB_NAME=wgame
WGAME_DB_USER=root
WGAME_DB_PASSWORD=
WGAME_SECRET_KEY=change_this_to_a_random_64_char_string
WGAME_HTTPS=0
WGAME_TELEGRAM_BOT_TOKEN=8766004985:AAHrfo4JlQF4gSj8dFwJKFXUi9HC7MzIwg0
